DUCK_DUCK_GO_URL = ''
GOOGLE_API_URL = ''    # URL also includes secret key
TWITTER_API_URL = ''
TWITTER_CONSUMER_KEY = ''
TWITTER_CONSUMER_SECRET = ''
TWITTER_ACCESS_TOKEN = ''
TWITTER_TOKEN_SECRET = ''

